name: Ruby

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        ruby: ['3.2', '3.3', '3.4', "4.0"]
        rails: ["7.1", "7.2", "8.0", "8.1"]

    runs-on: ubuntu-latest

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}.gemfile

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake
